@charset "UTF-8";

@font-face {
    font-family: 'fontPixelArt';
    src: url("../font/ARCADECLASSIC.TTF");
}

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
    font-family: fontPixelArt;
}

/* --------------------------- CORREÇÃO DE RESPONSIVIDADE --------------------------- */

@media(max-height: 435px) {
    /* 430 */

    :root {
        /* Dimensões dos Projéteis */
        --projetil-width: 2px;
        --projetil-height: 25px;
        --projetil-death-star-width: 5px;
        --projetil-death-star-height: 75px;
        --projetil-punicao-width: 6px;
        --projetil-punicao-height: 75px;
        --projetil-torpedo-width: 1px;
        --projetil-torpedo-height: 40px;

        /* Dimensões das Naves */
        --x-wing-width: 35px;
        --x-wing-height: 46px;

        --tie-fighter-width: 35px;
        --tie-fighter-height: 33px;

        --darth-vader-width: 35px;
        --darth-vader-height: 28px;

        /* Elementos Visuais */
        /* Altura e largura sempre um pouco maior que a altura do X-Wing */
        --explosao-width: 50px;
        --explosao-height: 50px;
    }


    .painel_botoes {
        margin: 0 35%;
        width: 50%;
        bottom: 16%;
    }

    .botaoIndex {
        font-weight: 500;
        font-size: 20px;
        border: 2px solid yellow;
        border-radius: 10px;
        padding: 2px 15px 5px 15px;
    }

    .botaoIndexSelecionado {
        font-weight: 500;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 2px 15px 5px 15px;
    }

}

/* Overlay para pedir ao usuário para girar a tela */
@media screen and (orientation: portrait) {
    #rotate-device-overlay {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 24px;
        font-family: 'fontPixelArt', sans-serif;
    }
}