@charset "UTF-8";

@font-face {
    font-family: 'fontPixelArt';
    src: url("../font/ARCADECLASSIC.TTF");
}

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
    font-family: fontPixelArt;
}

/* --------------------------- CORREÇÃO DE RESPONSIVIDADE --------------------------- */

@media(max-height: 435px) {
    /* 430 */

    :root {
        /* Tudo aqui é dividido por 2 */
        /* Dimensões dos Projéteis */
        --projetil-width: 2px;
        --projetil-height: 25px;
        --projetil-death-star-width: 5px;
        --projetil-death-star-height: 75px;
        --projetil-punicao-width: 6px;
        --projetil-punicao-height: 75px;
        --projetil-torpedo-width: 1px;
        --projetil-torpedo-height: 40px;

        /* Dimensões das Naves */
        --x-wing-width: 35px;
        --x-wing-height: 46px;
        --x-wing-hidden: -100px;

        --tie-fighter-width: 35px;
        --tie-fighter-height: 33px;

        --darth-vader-width: 35px;
        --darth-vader-height: 28px;

        /* Elementos Visuais */
        /* Altura e largura sempre um pouco maior que a altura do X-Wing */
        --explosao-width: 50px;
        --explosao-height: 50px;

        --item-especial-width: 30px;
        --item-especial-height: 30px;

        --item-fullpower-width: 52px;
        --item-fullpower-height: 30px;

        --toasty-width: 125px;
        --toasty-height: 132px;
        --toasty-slide-in: 150px;
        --toasty-slide-out: -230px; /*200*/
    }

    #gamepad-overlay {
        display: flex;
    }

    .painel_botoes {
        margin: 0 35%;
        width: 50%;
        bottom: 16%;
    }

    .botaoIndex {
        font-weight: 500;
        font-size: 20px;
        border: 2px solid yellow;
        border-radius: 10px;
        padding: 2px 15px 5px 15px;
    }

    .botaoIndexSelecionado {
        font-weight: 500;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 2px 15px 5px 15px;
    }

}