@charset "UTF-8";

@font-face {
    font-family: 'fontPixelArt';
    src: url("../font/ARCADECLASSIC.TTF");
}

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
    font-family: fontPixelArt;
}

/* Variáveis Globais de Estilo (Custom Properties) */
:root {
    /* Dimensões dos Projéteis */
    --projetil-width: 4px;
    --projetil-height: 50px;
    --projetil-death-star-width: 10px;
    --projetil-death-star-height: 150px;
    --projetil-punicao-width: 12px;
    --projetil-punicao-height: 150px;
    --projetil-torpedo-width: 2px;
    --projetil-torpedo-height: 80px;

    /* Dimensões das Naves */
    --x-wing-width: 70px;
    --x-wing-height: 92px;

    --tie-fighter-width: 70px;
    --tie-fighter-height: 67px;

    --darth-vader-width: 70px;
    --darth-vader-height: 57px;

    /* Elementos Visuais */ 
    /* Altura e largura sempre um pouco maior que a altura do X-Wing */
    --explosao-width: 100px; 
    --explosao-height: 100px;

    --item-especial-width: 60px;
    --item-especial-height: 60px;

    --item-fullpower-width: 104px;
    --item-fullpower-height: 60px;

    --toasty-width: 250px;
    --toasty-height: 263px;
    --toasty-slide-in: 150px;
    --toasty-slide-out: -5px;
}

body#index {
    background-image: url('../images/Intro_X-Wing_Space_Battle.png');
    background-color: black;
    background-size: contain;
    /* Para que a imagem cubra toda a tela */
    background-repeat: no-repeat;
    /* Para evitar repetição da imagem */
    background-position: center center;
    /* Para centralizar a imagem */
    background-attachment: fixed;
}

.painel_botoes {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 35%;
    width: 50%;
    bottom: 16%;
    z-index: 10;
}

.botaoIndex {
    font-weight: 500;
    font-size: 30px;
    color: yellow;
    background-color: black;
    border: 4px solid yellow;
    border-radius: 15px;
    padding: 2px 15px 5px 15px;
    transition: all 0.4s ease;
}

.botaoIndexSelecionado {
    font-weight: 500;
    font-size: 30px;
    border: 4px solid black;
    border-radius: 15px;
    padding: 2px 15px 5px 15px;
    transition: all 0.4s ease;
    color: black;
    background-color: yellow;
}

#introVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    /* começa escondido */
    z-index: 9999;
}

/* Formatação do body com imagem de fundo que se repete */
.estrelasRepetidas {
    background-image: url('../images/space/space_1.gif');
    /* Substitua pela URL ou caminho da sua imagem */
    background-repeat: repeat;
    /* Repete a imagem em x e y para cobrir tudo */
    background-position: center;
    /* Centraliza o padrão de repetição */
    background-size: auto;
    /* Mantém o tamanho original da imagem para repetição natural; use 'cover' se quiser esticar sem repetir */
}

/* Formatação do body com imagem de fundo que não se repete */
.estrelasNaoRepetidas {
    background-image: url('../images/space/space_1.gif');
    background-size: cover;
    /* Para que a imagem cubra toda a tela */
    background-repeat: no-repeat;
    /* Para evitar repetição da imagem */
    background-position: center center;
    /* Para centralizar a imagem */
    background-attachment: fixed;
    /* Opcional: para a imagem ficar fixa ao rolar */
    min-height: 100vh;
    /* Garante que o body ocupe a altura da tela */
    margin: 0;
    /* Remove a margem padrão do body */
}

/* Formatação do menu de  status do jogo */
.menu {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2%;
    position: absolute;
    top: 0;
    width: 96%;
    font-weight: 550;
    font-size: 30px;
    color: yellow;
    z-index: 10;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s ease forwards;
    /* duração de 5 segundos */
}

@keyframes fadeIn {
    to {
        opacity: 5;
    }
}

.section_menu {
    width: 33%;
}

section#menu_1 {
    text-align: left;
}

section#menu_2 {
    text-align: center;
}

section#menu_3 {
    text-align: right;
}

.life_boss {
    position: absolute;
    top: 50px;
    width: 98%;
    padding: 0 1%;
    height: 21px;
    z-index: 10;
}

#life_deathstar {
    display: none;
    background-color: yellow;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#life_darth-vader {
    display: none;
    background-color: yellow;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.legenda_barra_de_vida {
    position: absolute;
    left: 2%;
    top: 1px;
    color: blue;
    font-size: 19px;
    z-index: 12;
}

/* Formatação do cenario do jogo */
div#cenario {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Atributo necessario para que as naves inimigas consigam desaparecer até o final quando chegarem a fundo da tela sem extender a mesma */
    overflow: hidden;
}

/* Formatação botão iniciar jogo */
.botao {
    position: absolute;
    font-weight: 500;
    font-size: 30px;
    color: yellow;
    background-color: black;
    border: 3px solid yellow;
    border-radius: 15px;
    padding: 5px 10px;
    transition: all 0.5s ease;
    z-index: 10;
}

.botao:hover {
    color: black;
    background-color: yellow;
    border: 3px solid black;
    cursor: pointer;
}

/* Formatação botão selecionado */
.botao-selecionado {
    position: absolute;
    color: black;
    background-color: yellow;
    border: 3px solid black;
    cursor: pointer;
    font-weight: 500;
    font-size: 30px;
    border-radius: 15px;
    padding: 5px 10px;
    transition: all 0.5s ease;
    z-index: 10;
}

/* Formatação X-Wing */
.x-wing_standard {
    height: var(--x-wing-height);
    width: var(--x-wing-width);
    background-image: url('../images/x-wing/x-wing_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Precisa desse parametro para a movimentação do javascript funcionar */
    position: absolute;
    bottom: -50vh;
    /* controla a animação */
    transition: bottom 2s ease-in-out;
    z-index: 10;
}

.x-wing_resistence-power {
    height: var(--x-wing-height);
    width: var(--x-wing-width);
    background-image: url('../images/x-wing/x-wing_1-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 10;
}

/* Formatação TIE Fighters */
.tie_fighter {
    /* Precisa desse parametro para a movimentação do javascript funcionar */
    position: absolute;
    height: var(--darth-vader-height);
    width: var(--darth-vader-width);
    background-image: url('../images/tie_fighter/tie_fighter_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

/* Formatação Darth  Vader */
.darth_vader {
    /* Precisa desse parametro para a movimentação do javascript funcionar */
    position: absolute;
    height: var(--darth-vader-height);
    width: var(--darth-vader-width);
    background-image: url('../images/tie_fighter/vader_fighter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

/* Formatação projeteis X-Wing */
.projetil_x-wing {
    position: absolute;
    width: var(--projetil-width);
    height: var(--projetil-height);
    background-color: red;
    transform-origin: center;
    z-index: 10;
}

.torpedo_x-wing {
    /* torpedo_x-wing */
    position: absolute;
    height: var(--projetil-torpedo-height);
    width: var(--projetil-torpedo-width);
    background-color: white;
    border: solid 3px rgb(255, 0, 255);
    transform-origin: center;
    z-index: 10;
}

/* Formatação projeteis Tie Fighter */
.projetil_tie-fighter {
    position: absolute;
    width: var(--projetil-width);
    height: var(--projetil-height);
    background-color: rgb(0, 175, 0);
    transform-origin: center;
    z-index: 10;
}

/* Formatação projeteis Darth Vader */
.projetil_darth-vader {
    position: absolute;
    width: var(--projetil-width);
    height: var(--projetil-height);
    background-color: rgb(0, 175, 0);
    transform-origin: center;
    z-index: 10;
}

/* Formatação projeteis Death Star */
.projetil_death-star {
    position: absolute;
    width: 10px;
    height: 150px;
    width: var(--projetil-death-star-width);
    height: var(--projetil-death-star-height);
    background-color: lime;
    transform-origin: center;
    z-index: 10;
}

/* Formatação projeteis de Punição */
.projetil_punicao {
    position: absolute;
    width: var(--projetil-punicao-width);
    height: var(--projetil-punicao-height);
    background-color: lime;
    transform-origin: center;
    z-index: 10;
}

/* Titulo de fim de jogo */
.gameover {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    color: yellow;
    font-weight: 500;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 25%;
    text-align: center;
    z-index: 10;
}

.gamewin {
    width: 100%;
    position: absolute;
    color: yellow;
    font-weight: normal;
    font-size: 65px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 15%;
    text-align: center;
    opacity: 0;
    /* começa invisível */
    transition: opacity 2s ease;
    /* efeito suave */
    z-index: 10;
}

/* Formatação explosão dos TIE Fighters */
.explosao {
    position: absolute;
    height: var(--explosao-height);
    width: var(--explosao-width);
    background-image: url('../images/explosion/explosion_1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.deathstar-rise {
    position: absolute;
    height: 0vw;
    width: 0vw;
    background-image: url('../images/deathstar/deathstar-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
}

/* Formatação da Estrela da Morte */
.deathstar {
    position: absolute;
    /* Esconde toda a estrela da morte em cima da tela */
    bottom: 100%;
    height: 100vw;
    width: 100vw;
    background-image: url('../images/deathstar/deathstar-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 5 segundos de animação */
    transition: top 5s ease-in-out;
    z-index: 10;
    border-radius: 50vw;
}

.data_game {
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 310px;
    padding: 10px;
    z-index: 10;
}

.data_iten {
    color: white;
    font-weight: 500;
    font-size: 20px;
    z-index: 10;
}

.toasty {
    position: absolute;
    height: var(--toasty-height);
    width: var(--toasty-width);
    bottom: 0;
    right: 0px;
    background-image: url('../images/stormtropper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(var(--toasty-slide-in));
    /* deslocado para baixo */
    transition: all 0.4s ease-out;
    pointer-events: none;
    /* não atrapalha cliques no jogo */
    z-index: 10;
}

.toasty.show {
    /* volta para posição final */
    transform: translateX(var(--toasty-slide-out));
}

.use_a_forca {
    display: none;
    position: absolute;
    text-align: center;
    top: 50px;
    font-weight: bold;
    font-size: 150px;
    animation: blinkFB 1.5s linear infinite;
    z-index: 10;
}

@keyframes blinkFB {
    0% {
        color: white;
        text-shadow: 0px 0px 50px blue;
    }

    50% {
        color: rgb(0, 100, 200);
        text-shadow: 0px 0px 50px rgb(255, 255, 255);
    }

    100% {
        color: white;
        text-shadow: 0px 0px 50px blue;
    }
}

.extra-life {
    position: absolute;
    height: var(--item-especial-height);
    width: var(--item-especial-width);
    background-image: url('../images/special/special-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.resistence-power {
    position: absolute;
    height: var(--item-especial-height);
    width: var(--item-especial-width);
    background-image: url('../images/special/special-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.power-up {
    position: absolute;
    height: var(--item-especial-height);
    width: var(--item-especial-width);
    background-image: url('../images/special/special-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.full-power {
    position: absolute;
    height: var(--item-fullpower-height);
    width: var(--item-fullpower-width);
    background-image: url('../images/special/special-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}