@charset "UTF-8";

@font-face {
    font-family: 'fontPixelArt';
    src: url("../font/ARCADECLASSIC.TTF");
}

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
    font-family: fontPixelArt;
}

body#index {
    background-image: url('../images/Intro_X-Wing_Space_Battle.png');
    background-color: black;
    background-size: contain;
    /* Para que a imagem cubra toda a tela */
    background-repeat: no-repeat;
    /* Para evitar repetição da imagem */
    background-position: center center;
    /* Para centralizar a imagem */
    background-attachment: fixed;
}

.botaoIndex {
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 20vh;
    font-weight: 500;
    font-size: 30px;
    color: yellow;
    background-color: black;
    border: 4px solid yellow;
    border-radius: 15px;
    padding: 5px 10px;
}

.botaoIndex:hover {
    color: black;
    background-color: yellow;
    border: 4px solid black;
    cursor: pointer;
}

#introVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    /* começa escondido */
    z-index: 9999;
}

/* Formatação do body com imagem de fundo que se repete */
.estrelasRepetidas {
    background-image: url('../images/space/space_1.gif');
    /* Substitua pela URL ou caminho da sua imagem */
    background-repeat: repeat;
    /* Repete a imagem em x e y para cobrir tudo */
    background-position: center;
    /* Centraliza o padrão de repetição */
    background-size: auto;
    /* Mantém o tamanho original da imagem para repetição natural; use 'cover' se quiser esticar sem repetir */
}

/* Formatação do body com imagem de fundo que não se repete */
.estrelasNaoRepetidas {
    background-image: url('../images/space/space_1.gif');
    background-size: cover;
    /* Para que a imagem cubra toda a tela */
    background-repeat: no-repeat;
    /* Para evitar repetição da imagem */
    background-position: center center;
    /* Para centralizar a imagem */
    background-attachment: fixed;
    /* Opcional: para a imagem ficar fixa ao rolar */
    min-height: 100vh;
    /* Garante que o body ocupe a altura da tela */
    margin: 0;
    /* Remove a margem padrão do body */
}

/* Formatação do menu de  status do jogo */
.menu {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2%;
    position: absolute;
    top: 0;
    width: 96%;
    font-weight: 550;
    font-size: 30px;
    color: yellow;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s ease forwards;
    /* duração de 5 segundos */
}

@keyframes fadeIn {
    to {
        opacity: 5;
    }
}

/* Formatação do cenario do jogo */
div#cenario {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Atributo necessario para que as naves inimigas consigam desaparecer até o final quando chegarem a fundo da tela sem extender a mesma */
    overflow: hidden;
}

/* Animação para movimentar o fundo do cenario */
@keyframes animacaoCenario {
    from {
        background-position-y: 0%;
    }

    to {
        background-position-y: 1000%;
    }
}

/* Formatação botão iniciar jogo */
.botao {
    position: absolute;
    font-weight: 500;
    font-size: 30px;
    color: yellow;
    background-color: black;
    border: 3px solid yellow;
    border-radius: 15px;
    padding: 5px 10px;
}

.botao:hover {
    color: black;
    background-color: yellow;
    border: 2px solid white;
    cursor: pointer;
}

/* Formatação X-Wing */
div#x-wing {
    height: 131.311px;
    width: 100px;
    background-image: url('../images/x-wing/x-wing_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Precisa desse parametro para a movimentação do javascript funcionar */
    position: absolute;
    bottom: -50vh;
    /* controla a animação */
    transition: bottom 2s ease-in-out;
}

/* Formatação TIE Fighters */
.tie_fighter {
    /* Precisa desse parametro para a movimentação do javascript funcionar */
    position: absolute;
    height: 95.56px;
    width: 100px;
    background-image: url('../images/tie_fighter/tie_fighter_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Formatação projeteis X-Wing */
.projetil_x-wing {
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: blue;
    transform-origin: center;
}

.torpedo_x-wing {
    /* torpedo_x-wing */
    position: absolute;
    width: 5px;
    height: 80px;
    background-color: white;
    border: thick double rgb(255, 0, 255);
    border-radius: 15px;
    transform-origin: center;
}

/* Formatação projeteis Tie Fighter */
.projetil_tie-fighter {
    position: absolute;
    width: 3px;
    height: 30px;
    background-color: rgb(0, 255, 0);
    transform-origin: center;
}

.projetil_death-star {
    position: absolute;
    width: 15px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    transform-origin: center;
    border-radius: 20px;
}

/* Titulo de fim de jogo */
.gameover {
    position: absolute;
    color: yellow;
    font-weight: 500;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 25%;
    text-align: center;
}

.gamewin {
    position: absolute;
    color: yellow;
    font-weight: normal;
    font-size: 65px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 15%;
    text-align: center;
    opacity: 0;
    /* começa invisível */
    transition: opacity 2s ease;
    /* efeito suave */
}

/* Formatação explosão dos TIE Fighters */
.explosao {
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url('../images/explosion/explosion_1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Formatação da Estrela da Morte */
.deathstar {
    position: absolute;
    /* Esconde toda a estrela da morte em cima da tela */
    bottom: 100%;
    height: 100vw;
    width: 100vw;
    background-image: url('../images/deathstar/deathstar-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 5 segundos de animação */
    transition: top 5s ease-in-out;
}

.data_game {
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 310px;
    padding: 10px;
}

.data_iten {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.toasty {
    position: absolute;
    height: 263px;
    width: 250px;
    bottom: 0;
    right: 0px;
    background-image: url('../images/stormtropper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(250px);
    /* deslocado para baixo */
    transition: all 0.4s ease-out;
    pointer-events: none;
    /* não atrapalha cliques no jogo */
}

.toasty.show {
    transform: translateX(-5px);
    /* sobe para posição final */
}

.use_a_forca {
    display: none;
    position: absolute;
    text-align: center;
    top: 0;
    font-weight: bold;
    font-size: 150px;
    animation: blinkFB 1s linear infinite;
}

@keyframes blinkFB {
    0% {
        color: white;
        text-shadow: none;
    }

    50% {
        color: rgb(0, 100, 200);
        ;
        /* azul */
        text-shadow: 0 0 8px rgba(0, 0, 255, 0.8);
    }

    100% {
        color: white;
        text-shadow: none;
    }
}